---
   interface Props {
        etiqueta: string
    }


    //Crear una variable
    //para recibir la etiqueta
    const  etiqueta  = Astro.props.etiqueta;
---
<!--
Etiqueta input:
Se utiliza para los siguientes
controles:
- campo de texto
- password
- checkbox
- radio buttom
- boton de envio
ES ETIQUETA CERRADA
-->
<label>{etiqueta}:</label>
<input/>
<style>
    /*solo se puede poner aqui*/
    /*sintaxis css*/
    /*estilos para el input text*/
    /*selector de etiqueta: */
    /*estilos aplicables a toda etiqueta: */
    /*señalada por el selector*/

    input[type="text"]{              
        background-color:blue;
        width:400px;
        height:20px;
        color:brown;
        /*color peso grosor*/
        border-color:chartreuse;
        border-width:3px;
        border-style:solid;
        border-radius:5px;
        }
</style>