---
//div: etiqueta abierta
// tiene elementos dentro
//permite especificamente 
//propiedades de ubicacion 


   interface Props {
        etiqueta: string;
    }


    //Crear una variable
    //para recibir la etiqueta
    const  etiqueta  = Astro.props.etiqueta;

---


<div class="rbg">
    <label>{etiqueta}</label> 
    <div id="cedula">
         <input class="radio-btn"
        type="radio"
        name="rbg"
        id="radio1"
         />
        CC 
     </div>

     <div id="tarjeta">
        <input class="radio-btn"
        type="radio"
        name="rbg"
        id="radio2"
        
         />
        TI 
     </div>

     <div id="extranjera">
         <input class="radio-btn"
        type="radio"
        name="rbg"
        id="radio3"
        
         />
        CE 
     </div>
     <style>

        .rbg{
            background-color: #f0f0f0;
             border-color:#df1616;
            border-width:3px;
            border-style:solid;
            border-radius: 10px;
            margin:40px 20px 15px 20px;
            width: 72%;
            
        }
        #cedula .radio-btn{
            display:inline-block;
            width: 10px;
            height: 10px;
            
        }
     </style>
       <style>
        #tarjeta .radio-btn{
            display:inline-block;
            width: 10px;
            height: 10px;
            
        
            
        }
     </style>
       <style>
        #extranjera .radio-btn{
            display:inline-block;
            width: 10px;
            height: 10px;
            
        }
     </style>
      
</div>
<style>
    /*estilos de atriubuto*/
    /*se aplican a los elementos*/
    /*que tenga el atributo*/
    input[type="radio"]{
        background-color: blueviolet;
    }
</style>