    .form{
        display:block;
        background-color: lightgray;
        width: 500px;
        border: 2px solid black;
        margin: 20px auto 20px auto;
        border-radius: 15px;
        font-family: Arial, Helvetica, sans-serif-;
        
        
    }
.titulo{
    background-color: beige;
    text-align: center;
    color: rgb(48, 48, 224);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
   

}












